/* root */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	/* background: url('../imgs/1324902.png') no-repeat center/cover; */
	width: 100%;
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: normal;
	color: rgb(24, 24, 24);
}

h3 {
	font-weight: 400;
	font-style: normal;
}

a {
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	cursor: pointer;
	color: rgb(26, 26, 26);
	transition: 0.3s;
}

a:hover {
	transform: scale(1.2);
	text-shadow: 0 0 8px #3D2B1F;
}


ul {
	list-style: none;
}

.button {
	padding: 10px 10px;
	border: solid 1px rgba(127, 127, 127, 0.5);
}

.hover {
	transition: 0.3s;
}

.hover:hover {
	transform: scale(1.1);
}

.topBtn {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	padding: 0.8rem;
	border-radius: 50px;
	box-shadow: 0 0 10px black;
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1/1;
	backdrop-filter: blur(20px);
	opacity: 50%;
	transition: 0.3s;
}

.topBtn:hover{
	opacity: 80%;
}

/* main */

.main-container {
	display: flex;
	flex-direction: column;
	overflow: hidden;	
	height: 100vh;
	background:  #d6c7a195;
}

/* nav */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.25rem 7.5rem;
	box-shadow: 0 4px 8px;
	backdrop-filter: blur(10px);
	background: linear-gradient(to right, #E8E2D0, #D6C7A1, #B89F6E );
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 3.125rem;
	height: 100%;
	aspect-ratio: 1/1;
}

.logo img {
	max-width: 3.125rem;
}

.logo a {
	font-size: 2rem;
	font-weight: 600;
}

.nav-content {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 3.125rem;
}

.nav-content ul {
	display: flex;
	flex-direction: row;
	gap: 1.25rem;
}

.audio-control {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: fit-content;

}

#controlButton {
	width: 1.5rem;
	background: none;
	border: none;
	cursor: pointer;
	gap: 1rem;
}

#nav-btn {
	display: flex;
	align-items: center;
	gap: 10px;
	max-width: 2.5rem;
	max-height: 1.2rem;
	overflow: hidden;
	transition: all 1s ease;

}

#nav-btn:hover {
	max-width: 10rem;
	transform: scale(1.2);
}

#nav-btn button {
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	cursor: pointer;
	border: none;
	color: black;
	aspect-ratio: 1/1;
	padding: 10px 10px;
}

#controlButton {
	width: fit-content;
}

#controlButton svg{
	width: 1.5rem;
}

#nav-btn input {
	flex: 1;
	min-width: 3rem;
	max-width: 6rem;
}

/* hero */
#hero {
	display: flex;
	flex-direction: row;
	height: 80vh;
	width: 100vw;
	padding: 1rem 7.5rem;
}

.hero-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;

}

.hero-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 3rem;
}

.hero-text h3{
	font-size: 1.5rem;
	letter-spacing: 0.3rem;
	font-variant-caps: all-small-caps;
}

.hero-text h1 {
	font-size: 2rem;
	letter-spacing: 0.1rem;
	text-shadow: 2px 2px 0 rgb(255, 255, 255);
}

.hero-text span {
	color:	#A67C52;
}

.hero-text p {
	color: gray;
	width: 50%;
	line-height: 1.5rem;
}

.skills {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: fit-content;
	max-width: 100%;
	max-height: 4rem;
	background-color: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(10px);
	border-radius: 20px;
	padding: 20px 20px;	
	box-shadow: 0 0 10px black;
}

.skills img {
	max-height: 3rem;
	border-radius: 20px;
	padding: 2px 2px;
}

.hero-right {
	display: flex;
	width: 50%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.hero-right img {
	max-width: 100%;
	padding: 20px 30px;
	margin-top: 3rem;
}

/* services */

#services {
	background: #E8E2D0;
}
.services-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 7.5rem;
}

.services-title {
	font-size: 2rem;
	font-variant-caps: all-petite-caps;
	font-weight: 300;	
	letter-spacing: 0.4rem;
	padding: 3rem;
}

.service-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;	
	gap: 3rem;
	padding-bottom: 8rem;
}

.service-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 3rem 1rem;;
	border-radius: 2rem;
	width: 100%;
	height: fit-content;
	box-shadow: 0 2px 6px rgb(78, 78, 78);
	transition: 0.5s;
	aspect-ratio: 4/3;
	overflow: hidden;
}

.service-box:hover {
	transform: scale(1.1);
	box-shadow: 0 0 10px rgb(0, 0, 0);
	border-radius: 4rem;
}

.services-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1/1;
	width: fit-content;
	max-width: 7rem;;
	background: #E8E2D0;
	border-radius: 10px;
	box-shadow: 0 0 4px black;
	margin: 1rem;
}

.services-icon svg {
	padding: 0.5rem 0.5rem;
	width: 3rem;
}

.services-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: large;
	padding-bottom: 2rem;
}

/* projects */

#projects {
	height: 100vh;
	background:#d6c7a195;
}

.project-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 3rem 7.5rem;
	gap: 2rem;
}

.project-title {
	font-size: 2rem;
	font-variant-caps: all-petite-caps;
	font-weight: 300;	
	letter-spacing: 0.4rem;
}

.project-content {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 0;
	gap: 2rem;
}

.project-box {
	box-shadow: 0 3px 5px black;
	/* background-color: #ebe8dc; */
	display: flex;
	flex-direction: column;
	align-items: center;
	border: solid 1px rgba(0, 0, 0, 0.205);
	border-radius: 2px;
	height: 100%;
	border-radius: 5px;
	/* padding: 0.5rem; */
	overflow: hidden;
	gap: 0.4rem;
	transition: 0.3s;
}

.project-box:hover {
	transform: translateY(-8px);
}

.project-cover {
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 16/9;
	max-height: 50%;
	height: fit-content;
	border: solid 1px rgba(0, 0, 0, 0.205);
	overflow: hidden;
}

.project-cover img {
	max-width: 100%;
	height: 100%;
}

.project-info {
	display: flex;
	flex-direction: column;
	height: 50%;
	padding: 1rem 1rem;
}

.box-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.box-title h3 {
	font-weight: 500;
}

.box-tags {
	display: flex;
	gap: 0.5rem;
	margin: 0.5rem 0;
}

.box-tags div {
	display: flex;
	padding: 0.2rem 1rem;
	border: solid 1px #4c4c4c;
	font-size: normal;
	font-weight: 300;
	color: #4c4c4c;
}

/* contacts */

#contacts {
	background: #E8E2D0;
	height: 100vh;
	/* width: 100vw; */
}

.contact-main {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding-top: 5rem;
}

.contactTop {
	width: 100%;
	height: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 7.5rem;
}

.ctLeft {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

.ctLeft h3 {
	font-weight: 500;
	padding-bottom: 1rem;
	font-size: 2rem;
	font-variant-caps: all-small-caps;
	text-decoration: underline;
}

.ctLeft p {
	font-size: 1.5rem;
	filter: grayscale();
}

.ctLeft span {
	font-weight: 500;
	text-shadow: 0 0 2px black;
}

.socialLinks {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	border: solid 1px rgba(0, 0, 0, 0.268);
	width: fit-content;
	padding: 0.5rem 1rem;
	border-radius: 1rem;
	background: #D6C7A1;
	transition: 0.3s;
}

.socialLinks:hover {
	box-shadow: 0 0 5px black;
	transform: scale(1.1);
}

.socialLinks a {
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.socialLinks a>svg {
	width: 40px;
	height: 40px;
}

.ctRight {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.ctRight h3 {
	font-weight: 500;
	font-size: 2rem;
	font-variant-caps: all-small-caps;
	text-decoration: underline;
	align-self: center;
}

.ctRight form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 0.5rem;
	font-size: 1.1rem;
}

.ctRight form>label {
	font-weight: 500;
	text-shadow: 0 0 3px black;
}

.ctRight form>input, textarea {
	border: solid 1px rgba(0, 0, 0, 0.268);
	background: #D6C7A1;
	padding: 0.3rem 1rem;
	border-radius: 5px;
}

.ctRight form>input:focus, textarea:focus {
	border: none;
	outline: none;
	box-shadow: 0 0 5px black;
}

.ctRight button {
	margin-top: 1rem;
	width: fit-content;
	padding: 0.5rem 2rem;
	align-self: flex-end;
	border: solid 1px rgba(0, 0, 0, 0.268);
	background: transparent;
	border-radius: 10px;
	font-size: 1rem;
}

.ctRight button:hover {
	box-shadow: 0 0 5px black;
}

footer {
	background: linear-gradient(to left, #E8E2D0, #D6C7A1, #B89F6E );	
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 10%;
}